{% extends "index.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/add_discount.css') }}">
    <div class="col-md-8 container">
        <div class="right-section">
            <h1 class="form-title">Create Product</h1>

            <!-- Flask Form with Jinja -->
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <!-- Product Name -->
                <div class="form-group">
                    {{ form.name.label(class="form-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Product description -->
                <div class="form-group">
                    {{ form.description.label(class="form-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Product buy price -->
                <div class="form-group">
                    {{ form.buy_price.label(class="form-label") }}
                    {% if form.buy_price.errors %}
                        {{ form.buy_price(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.buy_price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.buy_price(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Product sell price -->
                <div class="form-group">
                    {{ form.sell_price.label(class="form-label") }}
                    {% if form.sell_price.errors %}
                        {{ form.sell_price(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sell_price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sell_price(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Product stock -->
                <div class="form-group">
                    {{ form.stock.label(class="form-label") }}
                    {% if form.stock.errors %}
                        {{ form.stock(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.stock.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.stock(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Manufacturer -->
                <div class="form-group">
                    {{ form.manufacturer.label(class="form-label") }}
                    {% if form.manufacturer.errors %}
                        {{ form.manufacturer(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.manufacturer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.manufacturer(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Type -->
                <div class="form-group">
                    {{ form.type.label(class="form-label") }}
                    {% if form.type.errors %}
                        {{ form.type(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type(class="form-input") }}
                    {% endif %}
                </div>

                <!-- model -->
                <div class="form-group">
                    {{ form.model.label(class="form-label") }}
                    {% if form.model.errors %}
                        {{ form.model(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.model.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.model(class="form-input") }}
                    {% endif %}
                </div>

                <!-- discount_code -->
                <div class="form-group">
                    {{ form.discount_code.label(class="form-label") }}
                    {% if form.discount_code.errors %}
                        {{ form.discount_code(class="form-input is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.discount_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.discount_code(class="form-input") }}
                    {% endif %}
                </div>

                <!-- Buttons -->
                <div class="btn-group-custom">
                    {{ form.cancel(class="btn btn-secondary btn-lg") }}
                    {{ form.save(class="btn btn-primary btn-lg") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}