{% extends "/common/base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style/common/dashboard.css') }}">

<div class="dashboard-wrapper">
    <!-- OWNER SIDEBAR -->
    <div class="dashboard-sidebar">
        <a class="side-btn {% if request.endpoint == 'stores.store_info' %} active {% endif %}" href="{{ url_for('stores.store_info') }}">My Store</a>
        <a class="side-btn {% if request.endpoint == 'products.add_product' %} active {% endif %}" href="{{ url_for('products.add_product') }}">Products</a>
        <!-- <a class="side-btn {% if request.endpoint == 'users.assign_owner' %} active {% endif %}" href="{{ url_for('users.assign_owner') }}">Assign Owner</a> TODO: Move to admin dashboard -->
        <a class="side-btn {% if request.endpoint == 'discounts.add_discount' %} active {% endif %}" href="{{ url_for('discounts.add_discount') }}">Discount</a>
        <a class="side-btn {% if request.endpoint == 'users.manage_orders' %} active {% endif %}" href="{{ url_for('users.manage_orders') }}">Orders</a>
    </div>

    <div class="dashboard-content">
    {% if request.endpoint == 'products.add_product' %}
        {% block product %}{% endblock product %}
    {% elif request.endpoint == 'stores.store_info' %}
        {% block my_store %}{% endblock my_store %}
    {% elif request.endpoint == 'users.assign_owner' %}
        {% block assign_owner %}{% endblock assign_owner %}
    {% elif request.endpoint == 'discounts.add_discount' %}
        {% block add_discount %}{% endblock add_discount %}
    {% elif request.endpoint == 'users.manage_orders' %}
        {% block manage_orders %}{% endblock manage_orders %}
    {% endif %}
    </div>
</div>
{% endblock content %}