{% extends "/customer/base_dashboard.html" %}
{% block change_password %}
<div class="dashboard-card">
    <h1 class="dashboard-title">Change Password</h1>
    <form class="password-form" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="dashboard-form-row">
            {{ form.current_password.label(class="form-label") }}
            {% if form.current_password.errors %}
                {{ form.current_password(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.current_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.current_password(class="profile-input") }}
            {% endif %}
        </div>

        <div class="dashboard-form-row">
            {{ form.new_password.label(class="form-label") }}
            {% if form.new_password.errors %}
                {{ form.new_password(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.new_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.new_password(class="profile-input") }}
            {% endif %}
        </div>

        <div class="dashboard-form-row">
            {{ form.confirm_password.label(class="form-label") }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-input is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="profile-input") }}
            {% endif %}
        </div>

        <div class="action-buttons-form">
            <a href="{{ url_for('users.change_password') }}" class="cancel-btn" style="margin: 50px;">Cancel</a>
            {{ form.submit(class="save-btn") }}
        </div>

    </form>
</div>
{% endblock change_password %}