{% extends "index.html" %}

{% block navbar %}
<div class="navbar">
    <div class="logo">
        <a href="{{ url_for('users.home') }}">Our Logo</a>
    </div>
    <div class="nav-links">
        <a href="{{ url_for('users.home') }}">Home</a>
        <a href="{{ url_for('users.logout') }}">Log Out</a>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/credit_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/change_password.css') }}">

<div class="credit-wrapper">

    <!-- SIDEBAR -->
    <div class="side-menu">
        <a class="side-btn" href="{{ url_for('users.profile') }}">My Profile</a>
        <a class="side-btn" href="{{ url_for('users.credit') }}">My Credit Card</a>
        <a class="side-btn active" href="{{ url_for('users.change_password') }}">Change Password</a>
        <a class="side-btn" href="{{ url_for('users.order_history') }}">Order History</a>
        <a class="side-btn" href="#">My Cart</a>
    </div>

    <!-- MAIN -->
    <div class="credit-container profile-container">
        <div class="profile-card">

            <h1 class="profile-title">Change Password</h1>

            <form class="password-form">

                <div class="profile-form-row">
                    <label>Current Password</label>
                    <input type="password" class="profile-input">
                </div>

                <div class="profile-form-row">
                    <label>New Password</label>
                    <input type="password" class="profile-input">
                </div>

                <div class="profile-form-row">
                    <label>Confirm Password</label>
                    <input type="password" class="profile-input">
                </div>

                <div class="profile-actions-form">
                    <button type="button" class="cancel-btn">Cancel</button>
                    <button type="submit" class="btn-gold">Save</button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}
